.createcontainer {
  inline-size: 70vw;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 10px;
  background-color:  #90a4ae;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
}
.createcontainer h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.createform .formgroup {
  margin-bottom: 1rem;
}

.createform label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.createform input[type="text"],
.createform select,
.createform textarea {
  width: 93%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 16px;
  background-color:  #beccca;
}

.createform button[type="submit"] {
  background-color: #1e76b1 ;
  color: #0a0909;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.createform img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  display: block;
}
.group{
  margin-top: 0.8rem;
}
.error{
  color: rgb(247, 56, 56);
  font-size: 14px;
  margin-top: 5px;
}

.selectimg{
 color: transparent;
 margin-left: 135px;
display: none;
}
.buttonDelete {
  appearance: none;
  background-color: #1e76b1;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
  min-height: 2rem;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    
}


.groupLabel {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.uploadButton {
  padding-top: 5px;
  appearance: none;
  background-color:  #1e76b1;;
  border-radius: 0.5rem;
  border: 1px solid black;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 5px;
  min-height: 2rem;
  inline-size: 6rem;
  outline: none;
  text-align: center;
  text-decoration: none;
   user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    
}

.customFileInput {
  display: none;
}

.contentSelecPlatfGn {
  display: flex;
  gap: 0.6rem;
  inline-size: 60vw;
  block-size: 5rem;
  flex-wrap: wrap;
  margin-block-start: 0.5rem;
  
   
}
.contentSelecPlatfGn button {
  margin-right: -5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #1e76b1;
  
}
.selectedTemp {
  padding: 0.3rem;
  background-color: #36ad7fad;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  block-size: 1.5rem;
  inline-size: auto;
  font-weight: bold;
}